



body {
background: url(/images/background.jpg);
background-repeat: no-repeat;// 设定背景图片非重复填充
background-attachment: fixed;// 设置背景图片不随页面滚动
background-position: 50% 50%;// 设置背景图片位置
background-size: cover//
}





.content-wrap {
  opacity: 0.9;
}

.sidebar {
  opacity: 0.9;
}

.header-inner {
  background: rgba(255,255,255,0.9);
}

.popup {
  opacity: 0.9;
}
